
<app-head (sidenavBtnClicked)="openSidenav()"></app-head>

<mat-drawer-container class="container" autosize>
  <mat-drawer [opened]="isHomeSidenavOpen" #drawer class="sidenav" mode="push" position="start">
      
    <ul>
      @for (source of feedSources; track $index) {
        <li>{{source.feedName}}</li>
      } @empty {
        <span>There are no feed source yet</span>
      }
    </ul>

      <button mat-icon-button class="fav-icon" aria-label="icon-button with fav icon">
          <mat-icon>
            <a [routerLink]="['favorites']">favorite</a>
          </mat-icon>
      </button>
  </mat-drawer>

  <main>
    <!-- qui andrebbe la lista delle news -->
    <router-outlet></router-outlet>
  </main>
</mat-drawer-container>

