<form action="" [formGroup]="bigForm" (ngSubmit)="onSubmit()">

  <div *ngFor="let form of addForms.controls; let i = index" class="add-feed" formArrayName="addFeedForms" >

    <fieldset class="fieldset-container" [formGroupName]="i">

      <mat-radio-group aria-label="Select an option" formControlName="type">
        <mat-radio-button value="reddit" class="opt-label">
          <mat-icon matSuffix>forum</mat-icon> 
          Subreddit
        </mat-radio-button>
        <mat-radio-button value="rss/xml" class="opt-label">
          <mat-icon matSuffix>rss_feed</mat-icon> 
          RSS/XML</mat-radio-button>
      </mat-radio-group>

      <div class="field-container">
        <mat-form-field appearance="outline">
          <mat-label> {{ form.get('type')?.value === 'reddit' ? 'Enter sub reddit name' : 'News Provider '}}</mat-label>
          <input matInput [placeholder]="form.get('type')?.value ==='reddit' ? 'r/...': 'name of your choice' " formControlName="name">
          <mat-icon matSuffix>edit</mat-icon>
          @if (form.touched && form.dirty) {
            <mat-hint >
              @for (errorMsg of logAFormGroup(form , 'name'); track $index) {
                <span class="err-msg">{{errorMsg}}</span>
              }
            </mat-hint>
          }
          
        </mat-form-field>
      </div>
      <!-- <p>{{logAFormGroup(form , 'name')}}</p> -->


      @if (form.get('type')?.value !=='reddit') {
        <div class="field-container">
          <mat-form-field appearance="outline">
            <mat-label>Url to request</mat-label>
            <input matInput placeholder="Placeholder" formControlName="url">
            <mat-icon matSuffix>link</mat-icon>
            <mat-hint>
              @for (errorMsg of logAFormGroup(form , 'url'); track errorMsg) {
                <span class="err-msg">{{errorMsg}}</span>
              }
            </mat-hint>
          </mat-form-field>
        </div>

        <p></p>
      }

      

      <button mat-icon-button class="delete-btn" (click)="deleteForm(i)" type="button">
        <mat-icon class="btn-delete">delete</mat-icon>
      </button>
    </fieldset>

  </div>
  
<div class="btn-offDiv">
  <button mat-stroked-button  type="button" (click)="addBlankForm()">add another feed</button>
  <button mat-stroked-button>save</button>
</div>

</form>