@use "@angular/material" as mat;

.mat-mdc-radio-button {
  // background-color: #2add5a; // colore del centro selezionato
  width: 12px;
  height: 12px;
  color: purple;
}

// .mat-mdc-radio-button .mdc-form-field label {
//     color: black;
//   }

input {
  display: block;
}

form {
  margin: 1rem;
  margin-top: 1rem;
  max-height: 80dvh;
}

.add-feed {
  overflow: auto;
}

.field-container {
  margin-bottom: 1rem;
}
