@use "@angular/material" as mat;

.mat-mdc-radio-button {
  // background-color: #2add5a; // colore del centro selezionato
  width: 12px;
  height: 12px;
  color: rgb(173, 171, 171);
}
  

input {
  display: block;
}

form {
  margin: 1rem;
  margin-top: 1rem;
  max-height: 80dvh;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 0.5rem;
}

.btn-offDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px; 
}




.fieldset-container  {
  margin-bottom: 1rem;
  
  border-radius: 16px;
  position: relative; 
  padding-right: 48px; 
  padding-bottom: 20px;
  
}

.fieldset-container .delete-btn {
  position: absolute;
  right: 0;
  top: 50%; 
  transform: translateY(-50%); 
  margin-top: 8px; 
  margin-right: 8px;
}


.mat-drawer{
  border-radius: 0px;
}

.btn-offDiv span{
 
  color: white;
  
}


